@charset "UTF-8";
/* estos estilos iran a la pagina 2*/
h1{
	    color: blue;
	    text-align: center;
	    font-family: Arial, Helvetica, sans-serif;
	    font-size: 40px;
}
p{
	    color: green;
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
}
.textoCentrado{
	        text-align: center;
	        color: red;
}